---
layout: default
title: Wedding Planners in Lafayette, LA | About Southern Couture Weddings
description: >-
  Learn more about Southern Couture Weddings, the trusted wedding planning
  experts in Lafayette, LA, serving Youngsville, Broussard, and surrounding
  cities. Crafting beautiful and personalized celebrations.
keywords: >-
  about Southern Couture Weddings, wedding planners Lafayette, wedding design
  experts, personalized wedding planning, Lafayette weddings, Carencro wedding
  planning, Broussard wedding planners, Youngsville wedding design, custom
  weddings Louisiana, professional wedding coordination, wedding experts South
  Louisiana, memorable wedding services, Abbeville wedding planners, Opelousas
  wedding design
image: /assets/img/floral.jpg
permalink: /about-southern-couture-weddings
---
<!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="/assets/img/floral.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 caption">
                    <h5 class="editable">
                     Wedding &amp; Event planning firm
                    </h5>
                    <h1 class="editable">
                     About Southern Couture
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Team -->
    <section class="team section-padding bg-lightblue">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-subtitle editable">
                     Meet Your Full-Service Planning &amp; Design Experts
                    </div>
                    <div class="section-title editable">
                     The Southern Couture Weddings Team
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
             {% assign team = site.team | sort:"weight" %}
             {% for item in team %}
             <div class="col-md-4 col-12">
                 <div class="item">

                     {% if item.image %}
                     <div class="img"><img src="{{item.image}}" alt="{{item.name}}" /> </div>
                     {% endif %}
                     <div class="info">
                         <h6>{{item.name}}</h6>
                         <p>{{item.title}}</p>
                         <div class="social valign">
                             <div class="full-width">
                                 <a href="mailto:{{item.email}}"><p>{{item.email}}</p></a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             {% endfor %}
            </div>
        </div>
    </section>

   <!-- Booking Form -->
   <section class="reservation">
       <div class="bg-secondary section-padding pb-0">
           <div class="container">
               <div class="row">
                   <!-- Reservation -->
                   <div class="col-lg-5 col-md-12 mb-30 mt-30 text-white">
                       <h2 class="text-white">"People may not remember what you said, but they will never forget the way you made them feel. "</h2>
                       <p class="text-white">Create unforgettable memories on your special day. Contact us today to start planning a wedding that will leave a lasting impression on everyone who attends.</p>
                       <div class="reservations">
                           <div class="icon color-1"><span class="flaticon-call"></span></div>
                           <div class="text">
                               <p class="color-1">Lets Chat</p> <a class="color-1" href="tel:{{site.data.company_info.phone}}">{{site.data.company_info.phone}}</a>
                           </div>
                       </div>

                   </div>
                   <!-- Booking From -->
                   <div class="col-lg-5 offset-lg-2 col-md-12">
                       <div class="booking-box">
                           <div class="head-box">
                               <h6>Southern Couture</h6>
                               <h4>Contact Form</h4>
                           </div>
                           <div class="booking-inner clearfix">
                               <div data-paperform-id="southerncouturecontact"></div><script>(function() {var script = document.createElement('script'); script.src = "https://paperform.co/__embed.min.js"; document.body.appendChild(script); })()</script>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <!-- Clients -->
   <section class="clients">
       <div class="container">
           <div class="row">
               <div class="col-lg-7 col-md-12 my-4 py-6">

               </div>
           </div>
       </div>
   </section>
