---
layout: default
title: Lafayette, LA Luxury Wedding Planner & Coordinator
description: >-
  Expert Wedding planning in Lafayette, LA. We specialize in luxury weddings,
  seamless coordination, and elegant event design for stress-free, unforgettable
  celebrations.
keywords: >-
  wedding planner, wedding coordinator, luxury wedding planning, wedding
  planners near me, event planning company, high-end wedding coordination, aisle
  planner, bridal planning services, custom wedding packages, wedding design
  expert, full-service wedding planning, Louisiana wedding planner, wedding
  planning Lafayette, Texture Event Rental Weddings, Lafayette LA,
image: /assets/img/rotator/courtneypaul-9376-copy-1500x700.jpg
permalink: /
slider:
  - title: Premium event rentals in Lafayette, LA
    subtitle: Bring your dreams to life with
    link: /wedding-planning-reviews
    link_text: Read Love Notes
    image: /assets/img/rotator/courtneypaul-9376-copy-1500x700.jpg
    video: https://player.vimeo.com/video/1111656718?background=1
testimonial_video: https://vimeo.com/1017777713
services:
  - name: Tables
    title: Tables
    description: >-
      Weddings are our heartbeat. We can handle all of the details from "Yes" to
      "I Do!" and make your wedding dreams a reality.
    image: assets/img/Unknown-1.avif
    link: /wedding-planning-services
  - name: Chairs
    title: Chairs
    description: >-
      Experienced in planning social, corporate and Mardi Gras events. Let us
      make your event the talk of the town.
    image: /uploads/image0.jpeg
    link:
  - name: Tents
    title: Tents
    description: >-
      Whether relaxation or adventure, Texture Event Rental can help plan your
      dream honeymoon or vacation.
    image: assets/img/Photo-Sep-09-2022-5-37-56-PM-copy-1-scaled-460x460.jpg
    link: /lafayette-travel-agent
---
<!-- Slider -->
    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
        {% for item in page.slider %}
        {% if item.video %}
        <div class="video-fullscreen-wrap">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="video-fullscreen-video" data-overlay-dark="4">
                <iframe src="{{item.video}}" width="100%" height="auto" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
            <div class="v-middle caption overlay">
                <div class="container">
                    <div class="row justify-content-center">
                            <div class="col-lg-10 col-md-12">
                                <h4>{{item.subtitle}}</h4>
                                <h1>{{item.title}}</h1>
                                <div class="btn-dark"> <a href="{{item.link}}" title="Lafayette Wedding Planner Love Notes"><span>{{item.link_text}}</span></a> </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <div class="text-center item bg-img" data-overlay-dark="4" data-background="{{item.image}}">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-md-12">
                                <h4>{{item.subtitle}}</h4>
                                <h1>{{item.title}}</h1>
                                <div class="btn-dark"> <a href="{{item.link}}" title="Lafayette Wedding Planner Near Me"><span>{{item.link_text}}</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </header>
    <!-- About -->
    <section class="about section-padding" data-scroll-index="1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12 mb-30 animate-box text-center" data-animate-effect="fadeInLeft">
                    <div class="section-subtitle editable">with 20+ years of experience</div>
                    <h1 class="section-title editable">Texture Rental Collection</h1>
                    <p class="editable">is a boutique rental company servicing weddings, Corporate Events, Social Events, Nonprofits and Fundraisers.  We can take your event to the next level by providing Tents, Lighting, Dance Floors and Staging as well as decor items such as drape, chandeliers or specialty lighting.  We are also available for small orders such as tables, chairs and linens as well as offer both pickup and delivery.  Let us add TEXTURE to your next event!</p>
                    <!-- call -->
                    <div class="reservations mx-auto justify-content-center">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p class="editable">Lets Chat</p> <a href="tel:{{site.data.company_info.phone}}" title="Call Souther Couture">{{site.data.company_info.phone}}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Promo Video -->
    <section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="5" data-background="/assets/img/sc-1.jpg" style="background-position: center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <div class="section-subtitle editable"><span>Creating </span></div>
                    <div class="section-title editable"><span>Amazing Experiences</span></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                    <a class="vid" href="{{page.testimonial_video}}">
                        <div class="vid-btn"> <span class="icon">
                                <i class="ti-control-play"></i>
                            </span> </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services -->
    <section class="offers1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-subtitle editable">Wedding & Event</div>
                    <div class="section-title editable">Rental Services</div>
                </div>
            </div>
            <div class="row mb-4 justify-content-center">
            {% for item in page.services %}
            {% assign shop_item = site.data.shop | where: "name", item.name | first %}
<div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="img"> <img src="{{item.image}}" alt="Texture Event Rental | {{item.name}} | Lafayette Wedding Planning Services" /> </div>
                    <div class="con">
                        <div class="title">{{item.name}}</div>
                        <div class="arrow"> <a href="{% if shop_item %}{{ shop_item.link }}{% endif %}"><span class="fa-light fa-arrow-right"></span></a> </div>
                    </div>

                </div>
            </div>

                <!-- <div class="col-md-4 p-0 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img left service">
                       <img src="{{item.image}}" alt="Texture Event Rental | {{item.name}} | Lafayette Wedding Planning Services" />
                    </div>
                </div> -->
            {% endfor %}
   

        
    </section>
    <!-- Testimonials -->
    <section class="testimonials">
        <div class="background bg-img bg-fixed section-padding" data-background="assets/img/Unknown-8.avif" data-overlay-dark="5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12 text-center">
                        <div class="testimonials-box">
                            <div class="head-box">
                                <h6>Testimonials</h6>
                                <h4>What Client's Say?</h4>
                            </div>
                            <div class="owl-carousel owl-theme">
                              {% for item in site.data.testimonials limit: 3 %}
                              {% if item.video %}
                              {% else %}
                                <div class="item">
                                    <p>{{item.review}}</p>
                                    <div class="info">
                                        <div class="cont"> <span><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i></span>
                                            <h6>{{item.name}}</h6>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}

                            </div>
                            <div class="btn-dark mt-5">
                            <a href="/wedding-planning-reviews" title="Read Real Reviews from happy brides"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

