---
layout: default
title: Inspiration for Your Next Lafayette Event | Texture Rental Collection
description: Browse our event gallery to see how Texture Rental Collection transforms weddings, corporate events, and more with our premium rentals in Lafayette, LA.
keywords: event gallery, Texture Rental Collection, event inspiration, wedding gallery, corporate event gallery, Lafayette event rentals, tent rentals, lighting rentals, decor inspiration, event decor gallery, party rentals, party central, premium event setups, event design ideas, Lafayette LA event services
image: /assets/img/sc-1.jpg
permalink: /event-gallery
---
<!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed bg-position-center" data-overlay-dark="4" data-background="/assets/img/sc-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="editable">Texture Event Rental Portfolio</h1>
                    <h5 class="editable">What we've done</h5>
                </div>
            </div>
        </div>
    </div>
   <!-- Gallery Image -->
   <section id="gallery" data-scroll-index="4" class="section-padding bg-lightbrown">
       <div class="container galleryscroll">
       {% assign gallery = site.data.gallery %}
       {% for item in gallery %}
         {% assign mod = forloop.index0 | modulo: 3 %}

         {% if mod == 0 %}
           <div class="row">
         {% endif %}

         <div class="col-lg-4 col-md-6 mb-25">
           <div class="item">
             <a href="{{ item.image }}" title="Texture Event Rental Portfolio Item" class="gallery-masonry-item-img-link img-zoom">
               <div class="img">
                 <img src="{{ item.image }}" class="img-fluid mx-auto d-block" alt="Wedding And Event Rentals Lafayette LA" style="height:350px;width:350px;object-fit: cover;object-position: center;">
               </div>
             </a>
           </div>
         </div>

         {% assign mod_close = forloop.index0 | modulo: 3 %}
         {% if mod_close == 2 or forloop.last %}
           </div>
         {% endif %}
       {% endfor %}

           <div class="row">
               <div class="col-lg-3 col-md-6 mb-25">
                   <div class="item">
                       <a href="img/gallery/04.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                           <div class="img"> <img src="img/gallery/04.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                       </a>
                   </div>
               </div>
               <div class="col-lg-6 col-md-6 mb-25">
                   <div class="item">
                       <a href="img/gallery/05.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                           <div class="img"> <img src="img/gallery/05.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                       </a>
                   </div>
               </div>
               <div class="col-lg-3 col-md-6 mb-25">
                   <div class="item">
                       <a href="img/gallery/06.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                           <div class="img"> <img src="img/gallery/06.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                       </a>
                   </div>
               </div>
           </div>
       </div>
   </section>
